hola_simula_REST/ProxyService/chicosAPI.wsdl

<wsdl:definitions name="chicosAPI" targetNamespace="http://xmlns.oracle.com/osbREST/hola_simula_REST/chicosAPI" xmlns:tns="http://xmlns.oracle.com/osbREST/hola_simula_REST/chicosAPI" xmlns:inp1="http://TargetNamespace.com/chicosAPI_getChicos_response" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <plnk:partnerLinkType name="chicosAPI">
        <plnk:role name="chicosAPIProvider" portType="tns:chicosAPI_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://TargetNamespace.com/chicosAPI_getChicos_response" schemaLocation="chicos.xsd"/>
        </xsd:schema>
        <schema targetNamespace="http://xmlns.oracle.com/osbREST/hola_simula_REST/chicosAPI" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema">
            <element name="getChico_params">
                <complexType>
                    <sequence>
                        <element name="id" type="string"/>
                    </sequence>
                </complexType>
            </element>
            <element name="borraChico_params">
                <complexType>
                    <sequence>
                        <element name="id" type="string"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
    </wsdl:types>
    <wsdl:message name="Rest_EmptyMessage"/>
    <wsdl:message name="getChicos_outputMessage">
        <wsdl:part name="reply" element="inp1:Root-Element"/>
    </wsdl:message>
    <wsdl:message name="createChico_inputMessage">
        <wsdl:part name="request" element="inp1:Root-Element"/>
    </wsdl:message>
    <wsdl:message name="createChico_outputMessage">
        <wsdl:part name="reply" element="inp1:Root-Element"/>
    </wsdl:message>
    <wsdl:message name="actualizaChicos_inputMessage">
        <wsdl:part name="request" element="inp1:Root-Element"/>
    </wsdl:message>
    <wsdl:message name="actualizaChicos_outputMessage">
        <wsdl:part name="reply" element="inp1:Root-Element"/>
    </wsdl:message>
    <wsdl:message name="getChico_inputMessage">
        <wsdl:part name="request" element="tns:getChico_params"/>
    </wsdl:message>
    <wsdl:message name="getChico_outputMessage">
        <wsdl:part name="reply" element="inp1:Root-Element"/>
    </wsdl:message>
    <wsdl:message name="borraChico_inputMessage">
        <wsdl:part name="request" element="tns:borraChico_params"/>
    </wsdl:message>
    <wsdl:message name="borraChico_outputMessage">
        <wsdl:part name="reply" element="inp1:Root-Element"/>
    </wsdl:message>
    <wsdl:portType name="chicosAPI_ptt">
        <wsdl:operation name="getChicos">
            <wsdl:input message="tns:Rest_EmptyMessage"/>
            <wsdl:output message="tns:getChicos_outputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="createChico">
            <wsdl:input message="tns:createChico_inputMessage"/>
            <wsdl:output message="tns:createChico_outputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="actualizaChicos">
            <wsdl:input message="tns:actualizaChicos_inputMessage"/>
            <wsdl:output message="tns:actualizaChicos_outputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="getChico">
            <wsdl:input message="tns:getChico_inputMessage"/>
            <wsdl:output message="tns:getChico_outputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="borraChico">
            <wsdl:input message="tns:borraChico_inputMessage"/>
            <wsdl:output message="tns:borraChico_outputMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="chicosAPI_ptt-binding" type="tns:chicosAPI_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getChicos">
            <soap:operation soapAction="getChicos"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createChico">
            <soap:operation soapAction="createChico"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="actualizaChicos">
            <soap:operation soapAction="actualizaChicos"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getChico">
            <soap:operation soapAction="getChico"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="borraChico">
            <soap:operation soapAction="borraChico"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>